h1 
  = t(:list_status)

table
  thead
    tr
      th Name
      th
      th 
      th

  tbody
    - @statuses.each do |status|
      tr
        td = status.name
        td = link_to t(:show), status, class: 'btn'
        td = link_to t(:edit), edit_status_path(status), class: 'btn'
        td = link_to t(:remove), status, data: { confirm: 'Confirma?' }, method: :delete, class: 'btn'

br

= link_to t(:new_status), new_status_path, class: 'btn'
