= form_for @purchase, multipart: true  do |f|
  - if @purchase.errors.any?
    #error_explanation
      h2 = "#{pluralize(@purchase.errors.count, "error")} prohibited this purchase from being saved:"
      ul
        - @purchase.errors.full_messages.each do |message|
          li = message
  
  

= form_tag @purchase do |f|
  .field
    = label_tag 'Cliente'
    = select_tag :client_id,  t(:select_client_option),   class: "browser-default" , required: true

  .field
    = label_tag 'Produto'    
    = select_tag :product_id,  t(:select_product_option),   class: "browser-default" , required: true
  .field
    = label_tag t(:status)
    = select_tag :status_id ,options_from_collection_for_select(Status.all, :id, :name), class:'browser-default', required: true
  .field
    = label_tag 'Quantidade'
    = number_field_tag :qtd, required: true
  .field
    = label_tag 'Data do pedido'
    = text_field_tag :dtPedido, '', class: 'datepicker', onkeypress: 'function() {return false;}', required: true
  .actions 
    = submit_tag 'Salvar', class:'btn'


javascript:
      $(document).ready(function() {
        init_materialize_date_pt_br();

        $('#status_id').select2({
          placeholder: "Selecione...",
          width: "element"
        });
        $('#client_id').select2({
          placeholder: "#{t(:select_client_option)}",
          width: "element",
          ajax: {
            url: "#{fetch_clients_path}",
            dataType: "json",
            processResults: function(data) {
              return { results:data}
             }
            }
          }
        );

        $('#product_id').select2({
          placeholder: "#{t(:select_product_option)}",
          width: "element",
          ajax: {
            url: "#{fetch_products_path}",
            dataType: "json",
            processResults: function(data) {
              return { results:data}
             }
            }
          }
        );

      });