.card.l12
    .container        
            = search_form_for(@search, url: purchases_path, method: :get, html: { class: 'ransack-form' }) do |f|
                .row
                    .field.col.m4
                        = f.search_field  :NomeProduct_cont,  placeholder: t(:name), value: params.dig(:q, :NomeProduct_cont)
                    .field.col.m4
                        = f.search_field  :CodBarras_cont, placeholder: t('placeholder.q.CodBarras_cont'), value: params.dig(:q, :CodBarras_cont), type: 'number'
                    .field.col.m4
                        = f.search_field  :id_cont, placeholder: t('placeholder.q.id_cont'), value: params.dig(:q, :id_cont), type: 'number'
                .row
                    .field.col.m4
                        = f.select :client_id_eq,  t(:select_client_option),   class: "browser-default" , style: 'width:30%'
                    .field.col.m4
                        = f.select :product_id_eq,  t(:select_product_option),   class: "browser-default" , style: 'width:30%'
                    .field.col.m4
                        = f.select :status_id_eq ,options_from_collection_for_select( Status.all, :id, :name),:include_blank => 'Status', class:'browser-default', style: 'width:30%'
                    
                .row
                    .field.col.m5
                        = f.search_field  :qtd_gteq,  placeholder: t(:min_qtd), value: params.dig(:q, :qtd_gteq), type: 'number'
                    .field.col.m5
                        = f.search_field  :qtd_lteq, placeholder: t(:max_qtd), value: params.dig(:q, :qtd_lteq), type: 'number'
                    .field.col.m1
                        = render 'layouts/per_page_select'
                        = hidden_field_tag :page, '1', {class: 'ransack-page'}
                    
                    .field.col.m1 style='padding-top: 16px;'
                        span.icon-search 
                            = f.submit '', class: 'btn '

javascript:
      $(document).ready(function() {
        init_materialize_date_pt_br();

        $('#q_status_id_eq').select2({
          placeholder: "Selecione...",
          width: "100%"
        });
        $('#q_client_id_eq').select2({
          placeholder: "#{t(:select_client_option)}",
          width: "100%",
          ajax: {
            url: "#{fetch_clients_path}",
            dataType: "json",
            processResults: function(data) {
              return { results:data}
             }
            }
          }
        );

        $('#q_product_id_eq').select2({
          placeholder: "#{t(:select_product_option)}",
          width: "100%",
          ajax: {
            url: "#{fetch_products_path}",
            dataType: "json",
            processResults: function(data) {
              return { results:data}
             }
            }
          }
        );

      });