h1 
  = t(:list_purchase)
  br
= render 'purchases/search'
br
= link_to t(:new_purchase), new_purchase_path, class:'l12 btn'
br
.row.center.col.l12
  br
  = will_paginate @purchases, previous_label: t(:previous), next_label: t(:next), inner_window: 1, outer_window: 1, class: 'l12 pagination'

.row.l12
  table.bordered.striped.centered.responsive-table
    thead
      tr
        th 
          = sort_link @search, :id, '#'
        th 
          = sort_link @search, :status_name, t(:status)
        th 
          = sort_link @search, :dtPedido, t(:date)
        th 
          = sort_link @search, :qtd, 'Qtd.'
        th 
          = sort_link @search, :total, 'Total'
        th 
        th 
        th
        th Ações
        th

    tbody
      - @purchases.each do |purchase|
        tr
          td = purchase.id
          td = purchase.status.name
          td = purchase.dtPedido.strftime("%d/%m/%Y")
          td = purchase.qtd
          td 
            = purchase.total_value
          td 
            = purchase.client.Nome
            br
              span.icon.icon-show
                = link_to('', client_path(purchase.client), class: 'btn') if purchase.client.present?
          td 
            = purchase.product.NomeProduct
            br
              span.icon.icon-show
                = link_to('', product_path(purchase.product), class: 'btn') if purchase.product.present?
          td 
            span.icon.icon-show
              = link_to('', purchase, class: 'btn')            
          td  
            span.icon.icon-edit
              = link_to '', edit_purchase_path(purchase), class: 'btn'
          td  
            span.icon.icon-delete
              = link_to '', purchase, data: { confirm: t(:are_you_sure) }, method: :delete, class: 'btn'

  br
