p#notice = notice
.card
  p
    strong 
      = t(:client) + ': '
    = @purchase.client.Nome
  p
    strong 
      = t(:product) + ': '
    = @purchase.product.NomeProduct
  p
    strong 
      = t(:status) + ': '
    = @purchase.status.name
  p
    strong
      = t(:qtd) + ': '
    = @purchase.qtd
  p
    strong Total:
    = @purchase.qtd * @purchase.product.ValorUnitario
  p
    strong 
      = t(:purchase_date) + ': '
    = @purchase.dtPedido.strftime("%d/%m/%Y")
  p
    = link_to t(:edit), edit_purchase_path(@purchase), class: 'btn'
  p
    = link_to t(:back), purchases_path, class: 'btn'
  br
