= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      h2 = "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      ul
        - @client.errors.full_messages.each do |message|
          li = message
  
  .field
    = f.label :Nome
    = f.text_field :Nome
  .field
    = f.label :CPF
    = f.number_field :CPF, onkeypress:'return isNumberKey(event)', maxlength: 11, oninput:"javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
  .actions = f.submit 'Salvar', class:'btn' 
