.card
    .container
        .row
            = search_form_for(@search, url: clients_path, method: :get, html: { method: :post, class: 'ransack-form' }) do |f|
                .field.col.m5
                    = f.search_field  :Nome_cont,  placeholder: 'Nome', value: params.dig(:q, :Nome_cont)
                .field.col.m5
                    = f.search_field  :CPF, placeHolder: :CPF, value: params.dig(:q, :CPF_cont)
                .field.col.m1
                    = render 'layouts/per_page_select'
                    = hidden_field_tag :page, '1', {class: 'ransack-page'}
                .field.col.m1 style='padding-top: 16px;'
                    span.icon-search 
                        = f.submit '', class: 'btn '
                    