h1 
  = t(:list_client)
br
= render 'clients/search'
br
= link_to t(:new_client), new_client_path, class:'l12 btn'
br
.row.center.col
  br
  = will_paginate @clients, previous_label: t(:previous), next_label: t(:next), inner_window: 1, outer_window: 1, class: 'l12 pagination'
br
.row
  table.bordered.striped.centered.responsive-table
    thead
      tr
        th 
          = sort_link @search, 'Nome'
        th 
          = sort_link @search, 'CPF'
        th Pedidos
        th
        th Ações
        th

    tbody
      - @clients.each do |client|
        tr
          td = client.Nome
          td = client.CPF
          td = link_to 'Ver Pedidos', client, class: 'btn'
          td = link_to t(:show), client, class: 'btn'
          td = link_to t(:edit), edit_client_path(client), class: 'btn'
          td = link_to t(:delete), client, data: { confirm: :are_you_sure }, method: :delete, class: 'btn'

br


