p#notice = notice

.card
  p
    strong Nome:
    = @client.Nome
  p
    strong CPF:
    = @client.CPF
  p
    = link_to t(:edit), edit_client_path(@client), class: 'btn'
  p
    = link_to t(:back), clients_path, class: 'btn'
  br
