.card
    br
    br
    = link_to t(:client), clients_path, class: 'btn'
    br
    br
    = link_to t(:product), products_path, class: 'btn'
    br
    br
    = link_to t(:purchase), purchases_path, class: 'btn'
    br
    br