/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require scaffolds
 *= require 'font-awesome'
 *= require 'materialize'
 *= require select2
 *= require font-awesome
 */

@charset "UTF-8";
@import "materialize/components/color";
$primary-color: color("teal", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;

$secondary-color: color("green", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

@import "materialize";
body {
  background-color: #dfdfdf;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

nav ul li a{
  color: $primary-color;
}    

#main { display:block; }
@media only screen and (orientation:portrait){
  body {  
    height:  auto;
    min-width: 640px;
    
  }
}
@media only screen and (orientation:landscape){
  body {  
     
  }
}


.icon-search {
    position: relative;
}

.icon-search:after {
    font-family: FontAwesome;
    content: "\f002"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
    color: #fff
}

.icon {
    position: relative;
}
.icon-delete:after {
    font-family: FontAwesome;
    content: "\f1f8"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
    color: #fff
}

.icon-edit:after {
    font-family: FontAwesome;
    content: "\f040"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
    color: #fff
}

.icon-show:after {
    font-family: FontAwesome;
    content: "\f06e"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
    color: #fff
}
.pagination a{
  text-decoration: none;
  color: #fff;
  background-color: #66BB6A;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.pagination span, em {
  text-decoration: none;
  color: #fff;
  background-color: #909090;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 480px) {
	.pagination li {
		display: none;
	}

	.pagination li.active, .pagination li.prev, .pagination li.next {
		display: inline;
	}
}

