= javascript_include_tag 'jquery.priceformat.min' 
= form_for @product, html:{novalidate: :true} do |f|
  - if @product.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product.errors.count, "erro(s)")} produto não pode ser gravado!"
      ul
        - @product.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :nome
    = f.text_field :NomeProduct,  maxlength: 48
  .field
    = f.label :codigo_de_barras
    = f.number_field :CodBarras, onkeypress:'return isNumberKey(event)', maxlength: 64
  .field
    = f.label :valor_unitario
    = f.number_field :ValorUnitario, class:'preco', maxlength: 8
  .actions 
    = f.submit 'Salvar', class: 'btn'


javascript:
  $(document).ready(function() {
    $('.preco').priceFormat({thousandsSeparator:'', centsSeparator: '.', prefix: ''});
  })