.card
    .container
        
            = search_form_for(@search, url: products_path, method: :get, html: { method: :post, class: 'ransack-form' }) do |f|
                .row
                    .field.col.m4
                        = f.search_field  :NomeProduct_cont,  placeholder: t(:name), value: params.dig(:q, :NomeProduct_cont)
                    .field.col.m4
                        = f.search_field  :CodBarras_cont, placeholder: t('placeholder.q.CodBarras_cont'), value: params.dig(:q, :CodBarras_cont), type: 'number'
                    .field.col.m4
                        = f.search_field  :id_cont, placeholder: t('placeholder.q.id_cont'), value: params.dig(:q, :id_cont), type: 'number'
                    
                .row
                    .field.col.m5
                        = f.search_field  :ValorUnitario_gteq,  placeholder: t(:min_price), value: params.dig(:q, :ValorUnitario_gteq), type: 'number'
                    .field.col.m5
                        = f.search_field  :ValorUnitario_lteq, placeholder: t(:max_price), value: params.dig(:q, :ValorUnitario_lteq), type: 'number'
                    .field.col.m1
                        = render 'layouts/per_page_select'
                        = hidden_field_tag :page, '1', {class: 'ransack-page'}
                    
                    .field.col.m1 style='padding-top: 16px;'
                        span.icon-search 
                            = f.submit '', class: 'btn '

