h1 
 = t(:list_product)
 br
= render 'products/search'
br
= link_to t(:new_product), new_product_path, class:'l12 btn'
br
.row.center.col
  br
  = will_paginate @products, previous_label: t(:previous), next_label: t(:next), inner_window: 1, outer_window: 1, class: 'l12 pagination'
.row
  table.bordered.striped.centered.responsive-table
    thead
      tr
        th 
          = sort_link @search, :NomeProduct, t(:name)
        th 
          = sort_link @search, :id, t(:product_code)
        th
          = sort_link @search, :CodBarras, t(:bar_code)
        th 
          = sort_link @search, :ValorUnitario, t(:price)
        th
        th
        th

    tbody
      - @products.each do |product|
        tr
          td = product.NomeProduct
          td = product.id
          td = product.CodBarras
          td = product.ValorUnitario
          td  
            span.icon.icon-show
              = link_to '', product, class:'btn'
          td   
            span.icon.icon-edit
              = link_to '', edit_product_path(product), class:'btn'
          td    
            span.icon.icon-delete
              = link_to '', product, data: { confirm: 'Tem certeza?' }, method: :delete, class:'btn'

br

