p#notice = notice
.card
  p
    strong 
      = t(:name)
    = @product.NomeProduct
  p
    strong Cod. barras:
    = @product.CodBarras
  p
    strong Valor:
    = @product.ValorUnitario
  p
    = link_to t(:edit), edit_product_path(@product), class: 'btn'
  p
    = link_to t(:back), products_path, class: 'btn'
  br
