= select_tag :per_page, options_for_select([ 10, 20, 50, 100 ], params.dig(:per_page)), class: 'page_select'

javascript:
    $(document).ready(function() {
        $('.page_select').material_select();
    })