ul#slide-out.side-nav
  li
    = link_to t(:home), root_path, class: 'btn'
  li
    = link_to t(:list_product), products_path, class: 'btn'
  li
    = link_to t(:list_purchase), purchases_path, class: 'btn'
  li
    = link_to t(:list_client), clients_path, class: 'btn'
  li
    = link_to t(:list_status), statuses_path, class: 'btn'
