<!DOCTYPE html>
<html>
<head>
  <title>TESTWKM</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  
  
  <%= csrf_meta_tags %>
</head>
<body class='center'>
  <%= render 'layouts/sidenav'%>
  <%= render 'layouts/navbar'%>
  <div id='main' class='container'>
    <%= yield %>
  </div>

  <script>

  $('.button-collapse').sideNav({
        menuWidth: '80%', // Default is 240
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
    );
    $('.collapsible').collapsible();
  </script>

</body>
</html>
